.files-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.files-table td, tr {
  // border: 1px solid #ddd;
  padding: 8px;
}

.files-table tr:nth-child(even){background-color: #f2f2f2;
color:black;}

.files-table tr:nth-child(odd){background-color: white;
  color:black;}

.files-table tr:hover {background-color:#ddd;}


.files-table th {
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #20272D;
  // background-color:    #4CAF50;
  color: white;
}

img {
  height:80%;
  width: auto;
}

.column {
    
  float: left;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}

.left {
  width: 50%;
  
}

.right {
    
  width: 50%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.mat-reset{
  background-color: white;
  color: red;
}

.matButton{
  // font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  // font-size: 14px;
  // font-weight: bold;
  background-color: #70C989;
  // left: 460px;
  left: 230px;
  bottom: 10px;
}

.matButton:hover {
  opacity: 0.9;
}