
.btn-continue{
    color: white;
   background-color: #007BFF;
   width: 125px;
}

.btn {
    background-color: #4CAF50; /* Green  #4CAF50 */
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }

  .btn2 {
    background-color: #007BFF; /* Green  #4CAF50 */
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }

.uploader{
  padding: 40px 0;
  text-align: center;
}
