body {
    /* background-color:lightslategray; */
    background-color: #3C4C55;
  }

.matButton{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: bold;
  
}

.matButton:hover {
  color:white;
  background-color: #70C989;
}

.matButton:hover .matIcon{
  color: white;
}

.matIcon {
  color: #70C989;
}